{% extends "home.html" %}
{% load static %}
{% block title %}Proctor Dashboard{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/proctor_dashboard.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to your Dashboard, {{ user.username }}</h1>
    <h2>These are the exams created by the test maker {{ company.username }}</h2>

    <ul class="exam-list">
        {% for exam in exams %}
            <li class="exam-item">
                <a href="{% url 'proctor' exam_id=exam.id %}" class="exam-title">YO</a>
                <p class="exam-description">{{ exam.description }}</p>
                <div class="exam-details">
                    <p><strong>Start Time:</strong> {{ exam.start_time }}</p>
                    <p><strong>End Time:</strong> {{ exam.end_time }}</p>
                </div>
            </li>
        {% empty %}
            <li>No exams created yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
