{% extends "home.html" %}

{% load static %}
{% block title %}List of Questions{% endblock %}
{% block header %}Questions List{% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/exam_list.css' %}" />  {% endblock %}
{% block content %}
  <div class="hero">
  <h2>Questions</h2>
  </div>
  <ul>
    {% for question in questions %}
      <li>
        <h3>{{ question.text }}</h3>
        <p>Exam: {{ question.exam.title }}</p>
        <form method="post" action="{% url 'question_delete' exam_id question.id %}">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
        <a href="{% url 'question_update' exam_id question.id %}">Update</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'question_create' exam_id %}">Create a new question</a>
  {% endblock %}