
{% extends "home.html" %}
{% block title %}Update Question{% endblock %}
{% load static %}
{% block header %}Update Question{% endblock %}
{% block css %}<link rel="stylesheet" href="{%static './css/question_update.css'%}" /> {% endblock %}
{% block content %}
<h2>Update Question</h2>

<form method="post">
    {% csrf_token %}
    
    <p>{{ form.text.label_tag }}<br>{{ form.text }}</p>
    <p>{{ form.option_a.label_tag }}<br>{{ form.option_a }}</p>
    <p>{{ form.option_b.label_tag }}<br>{{ form.option_b }}</p>
    <p>{{ form.option_c.label_tag }}<br>{{ form.option_c }}</p>
    <p>{{ form.option_d.label_tag }}<br>{{ form.option_d }}</p>

    <p>{{ form.correct_option.label_tag }}<br>{{ form.correct_option }}</p>

    <button type="submit">Save</button>
</form>

{% if errors %}
  <div class="errors">
    <h4>Form Errors:</h4>
    <ul>
    {% for field, errs in errors.items %}
      <li><strong>{{ field }}:</strong>
        {% for e in errs %}
          {{ e.message }}
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
{% endblock %}
