

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ exam.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
   
</head>
<body>
<h1>{{ exam.title }}</h1>
<input type="hidden" id="exam-id" value="{{ exam.id }}">

<div class="timer-container">
    <strong>Time Remaining:</strong>
    <span id="timer"></span>
</div>
<input type="hidden" id="student-username" value="{{ request.user.username }}">

<form id="exam-form" method="post" action="{% url 'test_with_chat' exam.id %}">
    {% csrf_token %}
    <div class="container">
        <div class="question-nav">
            <h3>Questions</h3>
            <ul>
                {% for question in questions %}
                    <li><a href="#" class="question-link"
                          data-question-id="question_{{ question.id }}">Question {{ forloop.counter }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="questions">
            {% for question in questions %}
                <div id="question_{{ question.id }}"
                     class="question-item{% if forloop.first %} active{% endif %}">
                    <h2>Question {{ forloop.counter }}:</h2>
                    <p>{{ question.text }}</p>
                    <ul>
                        {% for answer in question.answers.all %}
                            <li>
                                <label>
                                    <input type="radio" name="answer_{{ question.id }}" value="{{ answer.id }}">
                                    {{ answer.text }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <div>
                <button type="button" id="prev-button" disabled>Previous</button>
                <button type="button" id="next-button">Next</button>
                <button type="button" id="clear-button">Clear Response</button>
            </div>
            <input type="submit" value="Submit Answers" class="submit-button" >
        </div>
       
</form>

<script src="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script>
<script>
    window.TEST_END_URL = "{% url 'test_end' exam.id %}";
</script>

<script src="{% static 'js/Student/Close.js' %}"></script>

<script src="{% static 'js/Student/Questions.js' %}"></script>
<script src="{% static 'js/Student/Timer.js' %}"></script>
<script src="{% static 'js/Student/Tab.js' %}"></script>
<script>

</script>
<input type="hidden" id="session-id" value="_user_{{ request.user.id }}">
<script src="{% static 'js/Student/Video.js' %}"></script>


</body>
</html>
