body {
  background: linear-gradient(to right bottom, #a1c4fd, #c2e9fb);
  background-size: cover;      
  background-position: center; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Arial', sans-serif;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;


   color: #cdda0fff;

}
form {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"], select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #6a11cb, #aa076b);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
button:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
  transform: translateY(-2px);
}

button:active {
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  transform: translateY(0);
}
