{% extends "home.html" %}
{% block title %} Test Maker Dashboard {% endblock %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static './css/company_dashboard.css' %}" />
{% endblock %}
{% block content %}
<div class="dashboard-container">
    <div class="sidebar">
        <h2>Test Maker Dashboard</h2>
        <ul>
            <li><a href="{% url 'company_dashboard' %}">Home</a></li>
            <li><a href="{% url 'exam_list' %}">View Exams</a></li>
            <li><a href="{% url 'marks' %}">View Marks</a></li>

        </ul>
    </div>
    <div class="main-content">
       
        <section class="widgets">
            <div class="widget">
                <h3>Total Exams</h3>
                <p>{{ total_exams }}</p>
            </div>
            <div class="widget">
                <h3>Proctors</h3>
                <p>{{ total_proctors }}</p>
            </div>
          
        </section>
        <section class="form-section">
            <p>To assign a proctors for the exam you created, simply enter the emails. The proctor should register using that email.</p>
            {% if success %}
            <div class="alert alert-success">Proctor email added successfully!</div>
            {% endif %}
            <div id="proctorForm" >
                <form method="post" action="{% url 'company_dashboard' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </section>
    </div>
</div>



{% endblock %}
