{% extends "home.html" %}
{% load static %}

{% block title %}Marks{% endblock %}
{% block css %}<link rel="stylesheet" href="{%static './css/marks.css'%}" />{% endblock %}




{% block content %}
<div class="hero"><h2 >Exam Marks</h2></div>

{% for marks in marks %}
    <div class="marks-card">
        <h3 class="examtitle">Exam name: {{ marks.exam.title }}</h3>
        <p>Exam Taker: {{ marks.user }}</p>
        <p>Marks: {{ marks.marks }}</p>
    </div>
{% empty %}
    <p style="text-align: center; color: #6c757d;">No exams found.</p>
{% endfor %}
{% endblock %}
