body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#layout {
    display: flex;
    height: calc(100vh - 140px);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#main-content {
    flex: 3;
    overflow-y: auto;
}

#remote-video {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}

.video-wrapper {
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#timeline-container {
    flex: 1;
    background-color: #1f1f1f;
    border-left: 2px solid #444;
    padding: 15px;
    overflow-y: auto;
    max-height: 100%;
}

#timeline-container h3 {
    margin-top: 0;
    text-align: left;
}

.timeline-event {
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 6px;
    border-bottom: 1px dashed #555;
}

.time {
    color: gray;
    font-size: 12px;
}

.close,
.warn {
    margin-top: 20px;
}

.centered-button {
    padding: 12px 22px;
    font-size: 16px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.centered-button:hover {
    background-color: darkred;
}
.action-buttons {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

