body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#remote-video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
}

.video-wrapper {
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.username-label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#waiting-message {
    grid-column: 1 / -1;
    font-size: 18px;
    color: white;
}

.close {
    margin-top: 30px;
}
.warn{
    margin-top: 30px;
}

.centered-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.centered-button:hover {
    background-color: darkred;
}
 

#main-content {
     flex: 3;
        }

#timeline-container {
        flex: 1;
        border-left: 2px solid #ccc;
        padding-left: 15px;
        max-height: 80vh;
        overflow-y: auto;
        }

#timeline-container h3 {
        margin-top: 0;
        }

.timeline-event {
        font-size: 14px;
        margin-bottom: 8px;
        padding-bottom: 6px;
        border-bottom: 1px dashed #ddd;
        }
.time {
        color: gray;
        font-size: 12px;
        }