body {
    background-image: url("./bg.webp");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
  }
  
  h1, h2 {
    color: yellow;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 10px;
  }
  
  .container > div {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
  }
  
  .container > div a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .container > div:hover {
    background-color: #ff8c00;
  }
  
  .container > div:hover a {
    color: #000;
  }
  
  .vre {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .card {
    width: 500px;
    height: 500px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #00ccff 0%, #FF8C00 100%);   
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
  }
  
  .card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }
  
  .card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
  }
  
  .card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:before {
    transform: translateX(-100%);
  }
  
  .card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:after {
    transform: translateX(100%);
  }
  
  #A {
    width: 500px;
  }
  
  #B {
    width: 470px;
  }
  
  ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .card p {
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    font-weight: bold;
  }
  
  .card li {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
  }
  