body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #6a11cb, #aa076b);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.hero{
  background-color: indigo;
  
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: none; 
  border-right: none;


}
p{
    size: 50px;
    color: red;
}

h2, h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
h2{
        color: #cdda0fff;

}


.exam-title {
    font-weight: bold;
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 100px;
    color: #333;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.form {
    display: inline-block; 
    vertical-align: middle; 
    margin-left: 10px;
}

.error-message {
    color: #333;
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    margin-bottom: 20px;
}

a {
    font-size: 20px;
    background-color: #ff5100;
    text-decoration: none;
    border: 2px solid #FFA500;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #FFA500;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answer-text {
    font-size: 18px;
    color: #333;
}

button {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF4500;
}

h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #FFA500;
    margin: 10px auto;
    border-radius: 2px;
}
